# Wallet files (Oracle ADB)
wallet/
*.sso
*.p12
*.jks

# Environment files
.env
.env.local

# Build artifacts
target/
node_modules/
dist/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Nix
result/
**/*.zip
*/zip
wallet/

oracle-wallet-configmap.yaml
.env
**/*.env
**/*.env.local
*.env
